@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #000;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://br.web.img3.acsta.net/newsv7/22/03/02/17/57/0799065.jpg');
}

.banner-2 {
    background-image: url('https://i.pinimg.com/originals/0a/75/56/0a75565a68ebd62893d4230f8a5605a7.jpg');
}

.banner-3 {
    background-image: url('https://cdn.mos.cms.futurecdn.net/23cRXWo4ene2rimkswqot5-320-80.jpg');
}

@media(max-width: 768px) {
    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}