footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 150px;
    height: 90px;
}

span{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }
}